.block {
    text-align: left;
}

.content {
    padding: 24px 0;
    opacity: 1;
    max-height: fit-content;
    transition: all 0.25s ease-out;
}

.collapse.hidden .content {
    padding: 0;
    max-height: 0;
    opacity: 0;
}